<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><h3><%= task.description %></h3>
      <input type="button" style="width: 60px" value="Edit"><p><a href="/tasks/<%= task.id %>/edit"></a></p></input>
      <input type="button" style="width: 60px" value="Delete"><p><a href="/tasks/<%= task.id %>"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow>"></a></p></input>
    </li>
  <% end %>
</ul>

<input type="button" style="width: 200px" value="New Task" method="get"><p><a href="/tasks/new"></a></p></input>
