<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><h3><%= task.description %></h3>
      <a href="/tasks/<%= task.id %>/edit"><input type="button" style="width: 60px" value="Edit"></input></a>
      <a href="/tasks/<%= task.id %>"
        data-confirm="Are you sure?"
        data-method="delete"
        rel="nofollow>"><input type="button" style="width: 60px" value="Delete"></input></a>
    </li>
  <% end %>
</ul>

<a href="/tasks/new"><input type="button" style="width: 200px" value="New Task"></input></a>
